SIS/clarin/schemas/format.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">
    <xs:annotation>
        <xs:documentation xml:lang="en">This is a quick and dirty customization of the spec.xsd schema for the purpose of encoding formats (as opposed to standards).</xs:documentation>
    </xs:annotation>

    <xs:element name="format">
        <xs:annotation>
            <xs:documentation xml:lang="en">Root element for describing a format document.</xs:documentation>
            <xs:appinfo>
                <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron">
                    <sch:rule context="@id">
                        <sch:let name="ids" value="collection('../data/formats')/format/@id"/>
                        <sch:assert test="count($ids) eq count(distinct-values($ids))">The id attribute
                            must be unique across all format descriptions.</sch:assert>
                    </sch:rule>
                </sch:pattern>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="titleStmt"/>
                <xs:element name="ClarinRecommendation" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="recommendation" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="alternatives" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence maxOccurs="unbounded">
                                                    <xs:element name="alternative">
                                                        <xs:complexType>
                                                            <xs:attribute name="formatId" type="xs:string" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element ref="info" minOccurs="0"/>
                                    </xs:sequence>
                                    <xs:attribute name="formatId" type="xs:string" use="required"/>
                                    <xs:attribute name="type" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
<!--                                                <xs:enumeration value="fully recommended"/>
                                                <xs:enumeration value="acceptable"/>-->
                                                <xs:enumeration value="deprecated"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="keyword" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="extId" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="info" maxOccurs="unbounded"/>
                <xs:element ref="features" minOccurs="0"/>
                <xs:element ref="address" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="relation" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="asset" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="mimeType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="schemaLoc" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="fileExt" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="formatFamily" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="id">
                <xs:simpleType>
                    <xs:restriction base="xs:ID">
                        <xs:pattern value="f[\w\.-]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute ref="display"/>
        </xs:complexType>
        <xs:unique name="keywords">
            <xs:selector xpath="keyword"/>
            <xs:field xpath="."/>
            <!--This catches uniqueness *ignoring* the @type attribute; it is not entirely clear that we 
                want this in all cases, so let's see  -->
        </xs:unique>
        <xs:unique name="extIDs">
            <xs:selector xpath="extId"/>
            <xs:field xpath="."/>
        </xs:unique>
    </xs:element>
    <xs:element name="titleStmt">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="type" default="main">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="main"/>
                                            <xs:enumeration value="sub"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="abbr" minOccurs="0"/>
                <xs:element name="versionNumber" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="type" use="required">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="major"/>
                                            <xs:enumeration value="minor"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="respStmt" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="abbr">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute ref="internal"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="keyword">
        <xs:annotation>
            <xs:documentation>Provide either a loose keyword or select from controlled vocabularies. 
                For the time being, if the @type attribute is used with the value "gdfr", 
                GDFR (Global Digital Format Registry) facets 
                can be selected (with content-completion) as keywords. 
                (For further explanation, refer to the docs/vault directory.)</xs:documentation>
        </xs:annotation>
        <xs:alternative test="@type eq 'gdfr'" type="keyword-gdfr"/>
        <xs:alternative>
            <xs:simpleType>
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
        </xs:alternative>
    </xs:element>

    <xs:complexType name="keyword-type" mixed="false">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="type" type="xs:string">
<!--                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="gdfr"/>
                        </xs:restriction>
                    </xs:simpleType>
-->                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <!--Yes, something is wickedly wrong with this. Assistance will be appreciated.-->
    <xs:complexType name="keyword-gdfr">
        <xs:annotation><xs:documentation>Subset of keywords defined by the GFDR (Global Digital Format Registry)</xs:documentation></xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="keyword-type">
                <xs:enumeration value="genre:aggregate"/>
                <xs:enumeration value="genre:any"/>
                <xs:enumeration value="genre:database"/>
                <xs:enumeration value="genre:dataset"/>
                <xs:enumeration value="genre:executable"/>
                <xs:enumeration value="genre:model"/>
                <xs:enumeration value="genre:moving-image"/>
                <xs:enumeration value="genre:other"/>
                <xs:enumeration value="genre:presentation"/>
                <xs:enumeration value="genre:sound"/>
                <xs:enumeration value="genre:spreadsheet"/>
                <xs:enumeration value="genre:still-image"/>
                <xs:enumeration value="genre:text"/>

                <xs:enumeration value="role:family"/>
                <xs:enumeration value="role:file-format"/>
                <!--<xs:enumeration value="role:encoding"/>-->
                <xs:enumeration value="role:serialization"/>

                <xs:enumeration value="composition:unitary"/>
                <xs:enumeration value="composition:container-bundle"/>
                <xs:enumeration value="composition:container-wrapper"/>

                <xs:enumeration value="form:binary"/>
                <xs:enumeration value="form:text"/>

                <xs:enumeration value="constraint:structured"/>
                <xs:enumeration value="constraint:unstructured"/>

                <xs:enumeration value="basis:sampled"/>
                <xs:enumeration value="basis:symbolic"/>

                <!--<xs:enumeration value="domain:astronomy"/>
                <xs:enumeration value="domain:cad-cam"/>
                <xs:enumeration value="domain:gis"/>
                <xs:enumeration value="domain:web-archive"/>-->

                <xs:enumeration value="transform:compression"/>
                <xs:enumeration value="transform:encryption"/>
                <xs:enumeration value="transform:message-digest"/>

                <xs:attribute name="type" fixed="gdfr" type="xs:string"/>
            </xs:restriction>
        </xs:simpleContent>
     </xs:complexType>
    
    <xs:element name="respStmt">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resp" maxOccurs="unbounded">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Editor"/>
                            <xs:enumeration value="Author"/>
                            <xs:enumeration value="Publisher"/>
                            <xs:enumeration value="Convenor"/>
                            <xs:enumeration value="Chair"/>
                            <xs:enumeration value="Secretary"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="name" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="type" default="person">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="org"/>
                                            <xs:enumeration value="person"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="id" type="xs:NMTOKENS" use="optional"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="features" type="fType"/>
    <xs:element name="fs">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="f"/>
            </xs:sequence>
            <xs:attribute ref="type"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="f" type="fType"/>
    <xs:element name="vColl">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:group ref="simpleContent"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="relation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="info" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="target" type="xs:NMTOKENS" use="required"/>
            <xs:attribute name="type" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Replaces"/>

<!--                        <xs:enumeration value="uses"/>
                        <xs:enumeration value="isBasedOn"/>
                        <xs:enumeration value="isExtendedTo"/>
                        <xs:enumeration value="isExtendedFrom"/>
                        <xs:enumeration value="isAdaptedTo"/>
                        <xs:enumeration value="isAdaptedFrom"/>
                        <xs:enumeration value="isSimilarTo"/>-->
                        <xs:enumeration value="isUsedBy"/>
                        <xs:enumeration value="isDefinedBy"/>
                        <xs:enumeration value="isRelatedTo"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="date">
        <xs:simpleType>
            <xs:union memberTypes="xs:date xs:gYear"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="address">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="type" default="URL">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="postal"/>
                                <xs:enumeration value="URL"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="info">
        <xs:complexType>
            <xs:group ref="textblock" minOccurs="1" maxOccurs="unbounded"/>
            <xs:attribute name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="description"/>
                        <xs:enumeration value="recReading"/>
                        <xs:enumeration value="furtherInformation"/>
                        <xs:enumeration value="demo"/>
                        <xs:enumeration value="software"/>
                        <xs:enumeration value="reference"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute ref="internal"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="biblStruct">
        <xs:annotation>
            <xs:documentation>Bibliography elements for info type: recReading</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="analytic" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="title" type="xs:string"/>
                            <xs:element ref="author" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="monogr">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="title" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
                            <xs:element ref="author" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="editor" minOccurs="0" maxOccurs="unbounded" type="nameType"/>
                            <xs:element name="ref" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="type">
                                                <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:enumeration value="url"/>
                                                  </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="imprint">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="pubPlace" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="biblScope" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                  <xs:attribute name="type">
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:enumeration value="pp"/>
                                                  <xs:enumeration value="issue"/>
                                                  <xs:enumeration value="vol"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:attribute>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="publisher" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element ref="date" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="note" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                  <xs:attribute name="type">
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:enumeration value="url"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:attribute>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="idno" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="type" type="xs:string"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="type" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="conferencePaper"/>
                        <xs:enumeration value="journalArticle"/>
                        <xs:enumeration value="bookSection"/>
                        <xs:enumeration value="conferencePaper"/>
                        <xs:enumeration value="onlineSource"/>
                        <xs:enumeration value="book"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="id"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="a">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="href" type="xs:anyURI"/>
                    <xs:attribute name="title" type="xs:string" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="i">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="code">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="asset">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="a"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="author" type="nameType"/>
    <xs:element name="li" type="textblockType"/>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attribute name="display" default="show">
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:enumeration value="show"/>
                <xs:enumeration value="hide"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="internal" default="no">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="yes"/>
                <xs:enumeration value="no"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>
    <xs:complexType name="contentType">
        <xs:sequence>
            <xs:element ref="titleStmt"/>
            <xs:element ref="info" maxOccurs="unbounded"/>
            <xs:element ref="address" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="relation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fType">
        <xs:choice>
            <xs:element ref="fs"/>
            <xs:group ref="simpleContent"/>
            <xs:element ref="vColl"/>
        </xs:choice>
        <xs:attribute name="name"/>
    </xs:complexType>
    <xs:complexType name="nameType" mixed="true">
        <xs:choice>
            <xs:element name="name" type="xs:string"/>
            <xs:sequence>
                <xs:element name="forename" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="surname" type="xs:string"/>
            </xs:sequence>
        </xs:choice>
        <xs:attribute name="type">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="person"/>
                    <xs:enumeration value="organisation"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="valueType">
        <xs:attribute name="value" type="xs:string"/>
    </xs:complexType>
    <xs:group name="textblock">
        <xs:choice>
            <xs:element name="p" type="textblockType"/>
            <xs:element name="ul">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="li" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element ref="biblStruct"/>
            <xs:element name="ol">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="li" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:group>
    <xs:group name="simpleContent">
        <xs:choice>
            <xs:element name="binary" type="valueType"/>
            <xs:element name="symbol" type="valueType"/>
            <xs:element name="numeric" type="xs:decimal"/>
            <xs:element name="string" type="xs:string"/>
        </xs:choice>
    </xs:group>
    <xs:complexType name="textblockType" mixed="true">
        <xs:choice maxOccurs="unbounded">
            <xs:element ref="a" minOccurs="0"/>
            <xs:element ref="i" minOccurs="0"/>
            <xs:element ref="code" minOccurs="0"/>
            <xs:element name="p" type="textblockType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:choice>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>
    <xs:element name="mimeType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Where several possible media type indicators exist, use
                the @recommended attribute to select those recommended, e.g. from the point of view
                of the Switchboard</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="recommended" type="xs:NCName" fixed="yes"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="fileExt">
        <xs:annotation>
            <xs:documentation xml:lang="en">Where several possible file extensions exist, use
                the @recommended attribute to select those recommended, e.g. from the point of view
                of the Switchboard</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="recommended" type="xs:NCName" fixed="yes"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="schemaLoc">
        <xs:annotation>
            <xs:documentation xml:lang="en">For XML, JSON-LD, etc. formats that can have an external
                schema document accessible; the @type attribute specifies the schema (XSD, RNG, DTD,
                etc.)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:anyURI">
                    <xs:attribute name="type" type="xs:NCName" use="optional"/>
                    <xs:attribute name="version" type="xs:string" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="formatFamily" type="xs:token">
        <xs:annotation>
            <xs:documentation xml:lang="en">Hooks the given format in a tree/graph representing the
                hierarchy of formats as seen from the formal (as opposed to functional) point of
                view.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="extId">
        <xs:annotation>
            <xs:documentation xml:lang="en">External IDs point to items in external reference lists
                maintained by established providers, such as the Library of Congress ("loc"), etc. The value
                list follows the file data/landing-pages.xml</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="type" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:NCName">
                                <xs:enumeration value="BabelNet"/>
                                <xs:enumeration value="LOC">
                                    <xs:annotation>
                                        <xs:documentation>Library of Congress</xs:documentation>
                                    </xs:annotation>
                                </xs:enumeration>
                                <xs:enumeration value="PRONOM">
                                    <xs:annotation>
                                        <xs:documentation>UK National Archives</xs:documentation>
                                    </xs:annotation>
                                </xs:enumeration>
                                <xs:enumeration value="Wikidata"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>