SIS/clarin/schemas/format-families.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="family-ties">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="node"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="node">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="node"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="rel" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
