SIS/clarin/schemas/recommendation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
    
    <xs:annotation>
        <xs:documentation xml:lang="en">This schema defines the structure of the recommendation
            files that reside under data/recommendations/. Mostly auto-derived thru the magic of
            oXygen.</xs:documentation>
    </xs:annotation>
    <xs:element name="recommendation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="header"/>
                <xs:element ref="info" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="formats"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="info">
        <xs:complexType>
            <xs:group ref="textblock" minOccurs="1" maxOccurs="unbounded"/>
            <xs:attribute ref="xml:lang" use="optional" />
        </xs:complexType>
    </xs:element>
    <xs:element name="header">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="title" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="url" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="lastUpdateCommitID" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="exportDate" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="filter" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="title" type="xs:string"/>
    <xs:element name="url" type="xs:anyURI">
        <xs:annotation>
            <xs:documentation>Element inserted into exports, to document where they came from.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="lastUpdateCommitID" type="xs:string">
        <xs:annotation>
            <xs:documentation>Element auto-inserted upon committing the file into the repository. It
                will not appear in exports from aggregated lists in the SIS.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="exportDate" type="xs:string">
        <xs:annotation>
            <xs:documentation>Element present in exports from the SIS; it encodes a standardized
                date string of the export.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="filter">
        <xs:annotation>
            <xs:documentation>Element present in exports from aggregated and filtered lists in the
                SIS.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="centre" minOccurs="0"/>
                <xs:element ref="domain" minOccurs="0"/>
                <xs:element ref="level" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="centre" type="xs:string"/>
    <xs:element name="domain">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <!--Annotation-->
                <xs:enumeration value="Audiovisual Annotation">
                    <xs:annotation>
                        <xs:documentation>Annotations of audiovisual sources, usually including a
                            basic rendering of the spoken content (transcription) and sometimes
                            further annotation.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Image Annotation">
                    <xs:annotation>
                        <xs:documentation>Annotations of image sources.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Text Annotation">
                    <xs:annotation>
                        <xs:documentation>Annotations of textual sources/written text, with the
                            original text included or as stand-off.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <!--Data/Resource Description-->
                <xs:enumeration value="Catalogue Metadata">
                    <xs:annotation>
                        <xs:documentation>Basic structured information for discoverability and
                            general description, to be openly provided for
                            harvesting.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Contextual Information">
                    <xs:annotation>
                        <xs:documentation>Structured information on the communicative event or text
                            and its creators (i.e. participants or authors) relevant for
                            analysis.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Documentation">
                    <xs:annotation>
                        <xs:documentation>Unstructured documentation of the resource and its parts
                            such as corpus or annotation guidelines.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Metadata">
                    <xs:annotation>
                        <xs:documentation>Comprehensive structured information including
                            descriptive, structural and administrative metadata. See the National
                            Information Standards Organization primer on metadata for further
                            hints.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <!--Databases-->
                <xs:enumeration value="Geodata">
                    <xs:annotation>
                        <xs:documentation>Information on geographic locations.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Language Description">
                    <xs:annotation>
                        <xs:documentation>Structured or unstructured descriptions of linguistic
                            varieties or phenomena, typological databases, etc.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Lexical Resource">
                    <xs:annotation>
                        <xs:documentation>Structured (item-based) resources for lexical and/or
                            conceptual information on units of language (e.g. wordlists, lexicons,
                            WordNets etc.)</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Statistical Data">
                    <xs:annotation>
                        <xs:documentation>Data from surveys and tests in numeric
                            formats.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <!--Source Data-->
                <xs:enumeration value="Audiovisual Source Language Data">
                    <xs:annotation>
                        <xs:documentation>Audio or video recordings providing spoken/multimodal or
                            signed language data for research purposes.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Contextual Data">
                    <xs:annotation>
                        <xs:documentation>Images (photos or drawings) or documents relevant to the
                            communicative event or text but not part of the source language
                            data.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Image Source Language Data">
                    <xs:annotation>
                        <xs:documentation>Digitized images of analogue sources of written language
                            data for research purposes (e.g. facsimiles, scans of handwriting,
                            photos of inscriptions).</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Textual Source Language Data">
                    <xs:annotation>
                        <xs:documentation>Written unstructured/plain text or originally structured
                            text (e.g. HTML) without linguistic or other mark-up added for research
                            purposes.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <!--Uncategorized-->
                <xs:enumeration value="Other">
                    <xs:annotation>
                        <xs:documentation>Any other function that cannot be included in an existing
                            domain. The content of this domain will be periodically examined for
                            potential patterns that may give rise to new domains.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Tool Support">
                    <xs:annotation>
                        <xs:documentation>Tool-related formats required for specific functionality
                            of the tool or reliable reuse of resources (e.g. tagsets, annotation
                            schemes, vocabularies, language models, parameter files, and other
                            specifications or settings)</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="level">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="recommended"/>
                <xs:enumeration value="acceptable"/>
                <xs:enumeration value="discouraged"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="formats">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="format"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="format">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="domain"/>
                <xs:element ref="level"/>
                <xs:element minOccurs="0" ref="comment" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="id" use="required" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="comment" type="commentType"/>
    <xs:element name="a">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="href" use="required" type="xs:anyURI"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="i">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="code">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="li" type="commentType"/>
    <xs:group name="textblock">
        <xs:choice>
            <xs:element name="p" type="commentType"/>
            <xs:element name="ul">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="li" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ol">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="li" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:group>
    <xs:complexType name="commentType" mixed="true">
        <xs:choice maxOccurs="unbounded">
            <xs:element ref="a" minOccurs="0"/>
            <xs:element ref="i" minOccurs="0"/>
            <xs:element ref="code" minOccurs="0"/>
        </xs:choice>
        <xs:attribute ref="xml:lang" use="optional" />
    </xs:complexType>
</xs:schema>
