SIS/clarin/schemas/recommendation.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1"
    xmlns:xerces="http://xerces.apache.org" xmlns:saxon="http://saxon.sf.net/">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
    
    <xs:annotation>
        <xs:documentation xml:lang="en">This schema defines the structure of the recommendation
            files that reside under data/recommendations/. Mostly auto-derived thru the magic of
            oXygen.</xs:documentation>
    </xs:annotation>
    <xs:element name="recommendation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="header"/>
                <xs:element ref="info" minOccurs="1" maxOccurs="unbounded"/>
                <xs:element ref="formats"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="info">
        <xs:complexType>
            <xs:group ref="textblock" minOccurs="0" maxOccurs="unbounded"/>
            <xs:attribute ref="xml:lang" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="header">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="title" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="url" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="lastUpdateCommitID" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="exportDate" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="filter" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="respStmt" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="centre" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="title" type="xs:string"/>
    <xs:element name="url" type="xs:anyURI">
        <xs:annotation>
            <xs:documentation>Element inserted into exports, to document where they came from.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="lastUpdateCommitID" type="xs:string">
        <xs:annotation>
            <xs:documentation>Element auto-inserted upon committing the file into the repository. It
                will not appear in exports from aggregated lists in the SIS.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="exportDate" type="xs:string">
        <xs:annotation>
            <xs:documentation>Element present in exports from the SIS; it encodes a standardized
                date string of the export.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="filter">
        <xs:annotation>
            <xs:documentation>Element present in exports from aggregated and filtered lists in the
                SIS.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="centreID" minOccurs="0"/>
                <xs:element ref="domain" minOccurs="0"/>
                <xs:element ref="level" minOccurs="0"/>
                <xs:element ref="ri" minOccurs="0"/>
                <xs:element ref="search" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="search" type="xs:string"/>
    <xs:element name="centreID" type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="en">'shorthand' for the centre that acts as its ID</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="domain">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <!--Annotation-->
                <xs:enumeration value="Audiovisual Annotation">
                    <xs:annotation>
                        <xs:documentation>Annotations of audiovisual sources, usually including a
                            basic rendering of the spoken content (transcription) and sometimes
                            further annotation.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Image Annotation">
                    <xs:annotation>
                        <xs:documentation>Annotations of image sources.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Text Annotation">
                    <xs:annotation>
                        <xs:documentation>Annotations of textual sources/written text, with the
                            original text included or as stand-off.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>

                <xs:enumeration value="Catalogue Metadata">
                    <xs:annotation>
                        <xs:documentation>Basic structured information for discoverability and
                            general description, to be openly provided for
                            harvesting.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Contextual Information">
                    <xs:annotation>
                        <xs:documentation>Structured information on the communicative event or text
                            and its creators (i.e. participants or authors) relevant for
                            analysis.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Documentation">
                    <xs:annotation>
                        <xs:documentation>Unstructured documentation of the resource and its parts
                            such as corpus or annotation guidelines.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Metadata">
                    <xs:annotation>
                        <xs:documentation>Comprehensive structured information including
                            descriptive, structural and administrative metadata. See the National
                            Information Standards Organization primer on metadata for further
                            hints.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>

                <xs:enumeration value="Geodata">
                    <xs:annotation>
                        <xs:documentation>Information on geographic locations.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Language Description">
                    <xs:annotation>
                        <xs:documentation>Structured or unstructured descriptions of linguistic
                            varieties or phenomena, typological databases, etc.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Lexical Resource">
                    <xs:annotation>
                        <xs:documentation>Structured (item-based) resources for lexical and/or
                            conceptual information on units of language (e.g. wordlists, lexicons,
                            WordNets etc.)</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Statistical Data">
                    <xs:annotation>
                        <xs:documentation>Data from surveys and tests in numeric
                            formats.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>

                <xs:enumeration value="Audiovisual Source Language Data">
                    <xs:annotation>
                        <xs:documentation>Audio or video recordings providing spoken/multimodal or
                            signed language data for research purposes.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Contextual Data">
                    <xs:annotation>
                        <xs:documentation>Images (photos or drawings) or documents relevant to the
                            communicative event or text but not part of the source language
                            data.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Image Source Language Data">
                    <xs:annotation>
                        <xs:documentation>Digitized images of analogue sources of written language
                            data for research purposes (e.g. facsimiles, scans of handwriting,
                            photos of inscriptions).</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Textual Source Language Data">
                    <xs:annotation>
                        <xs:documentation>Written unstructured/plain text or originally structured
                            text (e.g. HTML) without linguistic or other mark-up added for research
                            purposes.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <!--Uncategorized-->
                <xs:enumeration value="Other">
                    <xs:annotation>
                        <xs:documentation>Any other function that cannot be included in an existing
                            domain. The content of this domain will be periodically examined for
                            potential patterns that may give rise to new domains.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Packaging">
                    <xs:annotation>
                        <xs:documentation>Packaging formats of various nature (archiving,
                            compression, storage) if no more specific domain is suitable.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Tool Support">
                    <xs:annotation>
                        <xs:documentation>Tool-related formats required for specific functionality
                            of the tool or reliable reuse of resources (e.g. tagsets, annotation
                            schemes, vocabularies, language models, parameter files, and other
                            specifications or settings)</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="ML Data Preparation">
                    <xs:annotation>
                        <xs:documentation>Data curated and formatted for integration into machine learning systems.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="ML Model Training">
                    <xs:annotation>
                        <xs:documentation>Data used for pre-training and fine-tuning of machine learning models.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="ML Model Exchange">
                    <xs:annotation>
                        <xs:documentation>Data that enable the sharing and deployment of machine learning models across different systems and platforms.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="level">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="recommended"/>
                <xs:enumeration value="acceptable"/>
                <xs:enumeration value="discouraged"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="respStmt">
        <xs:annotation>
            <xs:documentation>This is an element filled with the name of the curator and date of
                curation, and used as an official 'stamp' stating that the set of recommendations is
                now ready for public consumption. It should be set at inputhons or manually, when
                receiving subsequent PRs from the given centre.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="name" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="resp" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="link" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="reviewDate" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="name" type="xs:string"/>
    <xs:element name="resp" type="xs:string">
        <xs:annotation>
            <xs:documentation>Optionally specifies the scope of responsibility, if e.g. a centre
                manages data across different departments.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="link" type="xs:string">
        <xs:annotation>
            <xs:documentation>Optionally provides the GitHub (or indeed any other) handle. Use an
                URI to the curator's profile, preferably with contact
                information.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="reviewDate" type="xs:date">
        <xs:annotation>
            <xs:documentation>Date of the last review, yyyy:mm:dd</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="centre">
        <xs:annotation>
            <xs:documentation xml:lang="en">information about the centre</xs:documentation>
            <xs:appinfo>
                <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron">
                    <sch:rule context="header/centre">
                        <sch:assert
                            test="count(../filter/centreID) = 0 or @id = ../filter/centreID/text()"
                            >The attribute @id of header/centre has to match header/filter/centreID if
                            the latter is present.</sch:assert>
                    </sch:rule>
                </sch:pattern>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType mixed="false">
            <xs:sequence>
                <xs:element ref="centreName" minOccurs="1" maxOccurs="unbounded"/>
                <xs:element ref="registryLink" minOccurs="1" maxOccurs="unbounded"/>
                <xs:element ref="nodeInfo"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation xml:lang="en">'shorthand' for the centre that acts as its ID</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="deposition" type="xs:boolean" use="optional" default="false"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="centreName">
        <xs:annotation>
            <xs:documentation>the full name of the centre</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="ri" use="optional" type="ResearchInfrastructures">
                        <xs:annotation>
                            <xs:documentation>Name of the research infrastructure, if the preferred
                                centre name depends on the research infrastructure.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="registryLink">
        <xs:annotation>
            <xs:documentation>Link to a registry / database, e.g. the CLARIN centre registry; it is
                assumed that a centre always comes from some catalogue of centres in the given RI. A
                centre may be part of different registries. If multiple registryLink elements are
                present sharing an identical attribute @registry, then, for statistical purposes, it
                is assumed that the described entity is an abstraction (e.g. a consortium) that
                consists of more than one centre.</xs:documentation></xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="registry" use="required" type="ResearchInfrastructures">
                        <xs:annotation>
                            <xs:documentation>Name of the registry being linked to. Default: the
                                CLARIN centre registry.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="uri" use="required" type="xs:anyURI"/>
                    <xs:attribute name="label" use="optional" type="xs:string">
                        <xs:annotation><xs:documentation>Optional label</xs:documentation></xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="nodeInfo" type="nodeInfoType"/>
    <xs:complexType name="nodeInfoType">
        
        <xs:sequence>
            <xs:element ref="ri" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ri">
        <xs:annotation>
            <xs:documentation>Identify the research infrastructure to which the centre belongs. This
                element occurs in a centre description and in the exports of recommendation
                lists.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="ResearchInfrastructures">
                    <xs:attribute name="status" use="optional" type="xs:token">
                        <xs:annotation>
                            <xs:documentation>Status of the centre (node) in the given research
                                infrastructure. (In CLARIN, it's e.g. "B-centre", in Text+, e.g.
                                "Collections".)</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="ResearchInfrastructures">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CLARIN"/>
            <xs:enumeration value="DARIAH"/>
            <xs:enumeration value="Text+"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:element name="formats">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="format"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="format">
        <xs:annotation>
            <xs:documentation>The centreID element is only valid for exports from the
                "recommended formats" list, provided for all centres. It should NOT be
                used for importing centre recommendations into SIS.</xs:documentation>
            <!--<xs:appinfo>
                <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron">
                    <sch:rule context="formats/format">
                        <sch:assert
                            test="string-length(@id) eq string-length(normalize-space(@id))"
                            >Remove spurious whitespace from the @id string.</sch:assert>
                    </sch:rule>
                </sch:pattern>
                <!-\-  this schematron check needs an extra PI in each recommendation doc and I'd rather avoid adding that -\->
            </xs:appinfo>-->
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="centreID" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="domain"/>
                <xs:element ref="level"/>
                <xs:element minOccurs="0" ref="comment" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="id" use="required" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Existing or postulated ID of a format description.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:assert xerces:message="Remove spurious whitespace from the @id string." saxon:message="Remove spurious whitespace from the @id string." test="count(tokenize(@id, '\s+')) eq 1"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="comment" type="commentType"/>
    <xs:element name="a">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="href" use="required" type="xs:anyURI"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="i">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="code">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="formatRef">
        <xs:complexType>
            <xs:attribute name="ref" use="required" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="li" type="commentType"/>
    <xs:group name="textblock">
        <xs:choice>
            <xs:element name="p" type="commentType"/>
            <xs:element name="h3" type="xs:string">
                <xs:annotation>
                    <xs:documentation>This is the highest-level heading that curators can use (it
                        fits in with the other headings used on the centre info
                        pages).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="h4" type="xs:string">
                <xs:annotation>
                    <xs:documentation>This is the lowest-level heading that curators can use (it
                        fits in with the other headings used on the centre info
                        pages).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ul">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="li" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ol">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="li" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:group>
    <xs:complexType name="commentType" mixed="true">
        <xs:choice maxOccurs="unbounded">
            <xs:element ref="a" minOccurs="0"/>
            <xs:element ref="i" minOccurs="0"/>
            <xs:element ref="code" minOccurs="0"/>
            <xs:element ref="formatRef" minOccurs="0"/>
        </xs:choice>
        <xs:attribute ref="xml:lang" use="optional"/>
    </xs:complexType>
</xs:schema>